.model {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.321);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  .containerUpdate {
    display: flex;
    padding: 100px;
    background-color: rgb(138, 191, 174);
    box-shadow: 10px 5px 5px 5px #888888;
    animation: fade 0.6s forwards;
    .avatar-container {
      margin-right: 20px;
    }
    .Profile-container {
      // background-color: #fff;
      h3 {
        padding-left: 20px;
        color: rgb(116, 5, 5);
      }
      .Infor {
        padding-left: 20px;
        line-height: 24px;
      }
      .profile-input {
        margin-top: 10px;
        padding-left: 20px;
        .input-container {
          margin-bottom: 10px;
          label {
            margin-right: 20px;
          }
          input {
            padding: 10px;
            width: 300px;
            border: unset;
            border-radius: 2px;
          }
        }
      }
      .profile-radio {
        padding-left: 20px;
        label {
          color: black;
          width: 110px;
          display: inline-block;
        }
        input {
          margin: 5px;
        }
      }

      .button-container {
        margin-top: 30px;
        button {
          margin: 20px;
          padding: 10px;
          width: 160px;
          border-radius: 5px;
          border: none;
          transition: all 0.35s ease;
          font-weight: bold;
          &:hover {
            background-color: green;
            cursor: pointer;
            transform: scale(1.1, 1.1);
          }
        }
      }
    }
    .change-password-container {
      text-align: center;
      animation: fade 0.6s forwards;
      h1 {
        margin-bottom: 30px;
      }
      .error-message {
        color: red;
        font-size: 15px;
        margin-top: 20px;
      }
      .back-profile {
        display: inline-block;
        margin: 10px;
        color: blue;
        &:hover {
          color: rgb(70, 129, 239);
          cursor: pointer;
          text-decoration: underline;
        }
      }
      .input-container {
        margin: 10px;
        text-align: left;

        label {
          width: 150px !important;
        }
        input {
          padding: 10px;
          width: 300px;
          border: unset;
          border-radius: 2px;
        }
      }
      button {
        margin: 20px;
        padding: 10px;
        width: 160px;
        border-radius: 5px;
        border: none;
        transition: all 0.35s ease;
        font-weight: bold;
        &:hover {
          background-color: green;
          cursor: pointer;
          transform: scale(1.1, 1.1);
        }
      }
    }
  }
}

.modal-cart {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.321);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  .container {
    background-color: #fff;
    height: 600px;
    overflow: auto;
    padding: 10px;
    .empty-message {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60%;
    }
    h1 {
      margin: 10px 0px;
    }
    .title-column {
      display: grid;
      grid-template-columns: 567px 195px 182px 195px;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
      margin-bottom: 10px;
      p {
        display: inline-block;
        text-align: center;
        padding: 30px 15px;
      }
    }
    .items {
      .item {
        display: grid;
        grid-template-columns: 567px 195px 182px 195px;
        align-items: center;
        text-align: center;
        border-bottom: 1px solid #ccc;
        padding: 10px 0px;
        .review {
          display: flex;
          padding: 0 100px;
          img {
            width: 150px;
            aspect-ratio: 1;
            margin-right: 20px;
          }
          .infor {
            text-align: left;
            .delete {
              text-decoration: underline;
              color: red;
              &:hover {
                cursor: pointer;
              }
            }
            h2 {
              margin-bottom: 10px;
            }
          }
        }
        .price {
          p {
            font-size: 20px;
            font-weight: bold;
            color: red;
          }
        }
        .number {
          display: flex;
          justify-content: center;
          align-items: center;
          p {
            display: inline-block;
            padding: 10px;
          }
          svg {
            &:hover {
              cursor: pointer;
            }
          }
        }
        .total-price {
          font-size: 20px;
          font-weight: bold;
          color: red;
        }
      }
    }
    .final-price {
      margin-top: 10px;
      padding-right: 70px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      p {
        font-size: 30px;
      }
      .price {
        margin-left: 10px;
        color: red;
        font-weight: 600;
      }
    }
    .btn-container {
      text-align: right;
      margin-top: 10px;
      button {
        padding: 10px;
        width: 150px;
        margin: 10px;
        border: unset;
        border-radius: 5px;
        &:hover {
          cursor: pointer;
          background-color: #000;
          color: #fff;
        }
      }
    }
  }
}
